.syntax--dictionary.syntax--json {

  .syntax--numeric.syntax--json {
    color: @green;
    font-weight: bold;
  }

  .syntax--string.syntax--quoted.syntax--double.syntax--json {
    color: @cyan;
  }

  .syntax--array.syntax--json {
    >.syntax--punctuation {
      color: @red;
    }
    >.syntax--string.syntax--double.syntax--quoted.syntax--json {
    color: @blue;
    .syntax--punctuation {
      color: @blue;
    }
    }
  }

  .syntax--dictionary.syntax--value.syntax--json >.syntax--string.syntax--double.syntax--quoted.syntax--json {
    color: @violet;
    .syntax--punctuation {
      color: @violet;
    }
  }
}
